body, 
html, 
*{
    background-color: rgb(162, 93, 228) ;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
h1{
    text-align: center;
    font-size: 4rem;
    padding: 1rem;
    font-family: cursive;

}
.img{
    height: 80%;
    width: 80%;
    background-color: black;
    background-clip: padding-box;
    border: .1rem solid red;
    padding: 1rem;
    margin-bottom: 1rem;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.container-1{

}
.container-2{
    margin-top: 5rem;
}
.container-3{
    margin-top: 5rem;
}
.card {
    border-radius: 1.5rem;
    border: .5rem solid gold;
    background-color: black;
    width: 21%;
    color: white;
    font-size: 3rem;
    display: flex;
    flex-direction: column; /* Stacks image and text vertically */
    align-items: center; /* Centers items horizontally */
    text-align: center; /* Centers text */
    box-shadow: .4rem .4rem .4rem .4rem silver;
    box-sizing: content-box;
}
.card:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.button{
    border-radius: 1.5rem;
    background-color: black;
    color: white;
}
#usc{
    margin-top: .6rem;
    height: 90%;
}
.container:hover .card:not(:hover){
    transition: 0.8s;
    transform: scale(0.6);
    opacity: 0.2;
}
