body, 
html, 
*{
    background-color: rgb(116, 90, 141) ;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
h1{
    text-align: center;
    font-size: 4rem;
}
.img{
    height: 100%;
    width: 80%;
    background-color: black;
    background-clip: padding-box;
    border: .1rem solid red;
    padding: 1rem;
    margin-bottom: 1rem;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
/*.container-1{

}*/
.container-2{
    margin-top: 5rem;
}
.container-3{
    margin-top: 5rem;
}
.card {
    border: .3rem solid gold;
    background-color: black;
    width: 28%;
    color: white;
    font-size: 3rem;
    display: flex;
    flex-direction: column; /* Stacks image and text vertically */
    align-items: center; /* Centers items horizontally */
    text-align: center; /* Centers text */
}
